body {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;
}
img {
    max-width: 100%;
}

.preloader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroes__item {
    margin-bottom: 24px;
}

.heroes__item-photo {
    position: relative;
    overflow: hidden;
}

.heroes__item-name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    background: #3B5FBF;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.heroes__item-realname {
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}

.heroes__item-status {
    position: absolute;
    top:0;
    left: 0;
    padding: 8px 16px;
    font-size: 14px;
    background: #BF9130;
    color: #fff;
}

.heroes__item-status--alive {
    background-color: #0198A6;
}

.heroes__item-info {
    padding: 16px 24px;
}

.heroes__item-wrap{
    position: relative;
    height: 100%;
    color: white;
    background: #7EA0FF;
    border-top: none;
    overflow: hidden;
}

.heroes__item-wrap:after {
     position: absolute;
     bottom: -60px;
     right: -18px;
     content: '';
     display: block;
     width: 50px;
     height: 80px;
     transform: rotate(45deg);
     background-color: #BF9130;
 }

.heroes__item-wrap:before {
    position: absolute;
    bottom: -60px;
    left: -18px;
    content: '';
    display: block;
    width: 50px;
    height: 80px;
    transform: rotate(-45deg);
    background-color: #BF9130;
}

.heroes__films-title {
    margin-bottom: 4px;
}

.heroes__films-list {
    list-style: none;
    padding-left: 0;
}

.heroes__films-item {
    position: relative;
    padding-left: 16px;
}

.heroes__films-item:after {
    position: absolute;
    display: block;
    content: '';
    top: 9px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFAD00;
}

.filter {
    display: none;
    flex-wrap: wrap;
}

.filter.show {
    display: flex;
}

.filter__item {
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 4px 8px;
    font-size: 14px;
    background-color: #A07EFF;
    color: white;
    cursor: pointer;
}

.filter__item.active {
    background-color: #7D4FFF;
}

.filter__item:hover {
    background-color: #7D4FFF;
    transition: .5s ease;
}